### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [28]:
total_players=len(purchase_data['SN'].unique())

In [29]:
total_df=pd.DataFrame({"Total Players": [total_players]})
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
unique_items=len(purchase_data['Item ID'].unique())

In [31]:
average_price=purchase_data['Price'].mean()

In [32]:
number_purchases=len(purchase_data)

In [33]:
total_revenue = (purchase_data["Price"]).sum()

In [34]:
total_purchasing_df=pd.DataFrame({
    "Number of Unique Items": [unique_items], 
    "Average Price": [average_price], 
    "Number of Purchases":[number_purchases], 
    "Total Revenue":[total_revenue]})

In [35]:
total_purchasing_df['Average Price']=total_purchasing_df['Average Price'].map("${:.2f}".format)

In [36]:
total_purchasing_df['Total Revenue']=total_purchasing_df['Total Revenue'].map("${:,.2f}".format)

In [37]:
total_purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [38]:
grouped_gender=purchase_data.groupby('Gender')

In [39]:
gender_group = purchase_data.groupby("Gender")

unique_gender_count = gender_group.nunique()["SN"]

In [40]:
gender_percent=(unique_gender_count/total_players)*100

In [41]:
final_gender_df=pd.DataFrame({"Total Count": unique_gender_count, "Percentage of Players":gender_percent})

In [42]:
final_gender_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
purchase_count=grouped_gender["SN"].count()

In [45]:
average_purchase_price=gender_group['Price'].mean()

In [46]:
total_purchase_value=gender_group['Price'].sum()

In [47]:
average_total_purchase_per_person=(total_purchase_value/unique_gender_count)

In [48]:
purchasing_analysis_gender_df=pd.DataFrame({
    "Purchase Count": purchase_count, 
    "Average Purchase Price":average_purchase_price,
    "Total Purchase Value": total_purchase_value, 
    "Avg Total Purchase per Person":average_total_purchase_per_person})

In [49]:
purchasing_analysis_gender_df.style.format({"Average Purchase Price":"${:.2f}",
                                            "Total Purchase Value":"${:,.2f}", 
                                            "Avg Total Purchase per Person":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [50]:
age_groups=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
bins=[0,9.90,14.9,19.9,24.9,29.9,34.9,39.9,100]

In [51]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_groups)

In [52]:
grouped_age=purchase_data.groupby('Age Group')

In [53]:
unique_age_count = grouped_age.nunique()["SN"]

In [54]:
percent_players=(unique_age_count/total_players)*100

In [62]:
purchasing_analysis_gender_df=pd.DataFrame({
    "Total Count": unique_age_count, 
    "Percentage of Players":percent_players})

In [61]:
purchasing_analysis_gender_df.style.format({"Percentage of Players":"{:.2f}%"})

In [67]:
# del purchasing_analysis_gender_df.index.name
purchasing_analysis_gender_df.index.name = None

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [99]:
purchase_count=grouped_age['Item ID'].count()
purchase_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item ID, dtype: int64

In [101]:
average_purchase_price=grouped_age['Price'].mean()
average_purchase_price

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [104]:
total_purchase_value=grouped_age['Price'].sum()
total_purchase_value

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [106]:
average_total_purchase_per_person=total_purchase_value/unique_age_count
average_total_purchase_per_person

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [ ]:
# #establish bins
# bins = [0, 15, 25, 40, 50]

# # Create labels for these bins
# group_labels = ["0-15", "16-25", "26-40", "40-50"]

# #cut data and put in bins

# purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

# #purchase Count
# purchase_count = pd.DataFrame({"Purchase Count": purchase_data.groupby(["Age Group"])["Purchase ID"].count()}).reset_index()

# #purchase price
# purchase_price = pd.DataFrame({"Purchase Price": purchase_data.groupby(["Age Group"])["Price"].mean()}).reset_index()

# #purchase Value
# purchase_value = pd.DataFrame({"Purchase Value": purchase_data.groupby(["Age Group"])["Price"].sum()})

# #purchase_total
# average_purchase_price = pd.DataFrame({"Total Price": purchase_data.groupby(["Age Group", "SN"])["Price"].sum()}).reset_index()
# purchase_total = pd.DataFrame({"Average Purchase Price per Person":average_purchase_price.groupby(["Age Group"])["Total Price"].mean()}).reset_index()

# age_purchase_analysis = purchase_count.merge(purchase_price, on="Age Group", how="left")

# age_purchase_analysis = age_purchase_analysis.merge(purchase_total, on="Age Group", how="left")
# age_purchase_analysis = age_purchase_analysis.merge(purchase_value, on="Age Group", how="left")
# age_purchase_analysis = age_purchase_analysis.set_index('Age Group')
# age_purchase_analysis

#Code in this cell is for Purchasing Analysis (Age)
#Need to mostly work on the original dataframe because one player can buy multiple items

# #Need to cut original dataframe by age group
# pymoli_df['Age Group']=pd.cut(pymoli_df['Age'],bins=bins,labels=bin_names)

# #get purchase_count by aged_group
# age_group_purchase_count=pymoli_df.groupby(by='Age Group')['Item Name'].count()
# #get Average Purchase Price by aged_group
# age_group_ave_price=pymoli_df.groupby(by='Age Group')['Price'].mean()
# #get Total Purchase Value by aged_group
# age_group_total_purchase=pymoli_df.groupby(by='Age Group')['Price'].sum()

# ##Normalized totals by age_group, normalized totals by age_group is
# #the total purchase each age_group divided by the UNIQUE player count per age_group
# age_group_normalized_total=age_group_total_purchase/age_group_player_count

# # print('debug the purchase count by age_group is {}\n \
# # the average purchase by age_group is {}\n \
# # the total purchase by age_group is {}\n \
# # the normalized total by age_group is {}\n'.format(age_group_purchase_count,age_group_ave_price,age_group_total_purchase,age_group_normalized_total))

# #Make a dataframe of Purchasing Analysis (Age)
# Purchase_Analysis_Age=pd.DataFrame({'Purchase Count':age_group_purchase_count,'Average Purchase Price':age_group_ave_price,
#                                        'Total Purchase Value':age_group_total_purchase,'Normalized Totals':age_group_normalized_total},
#                                    index=bin_names,columns=['Purchase Count','Average Purchase Price',\
#                                                                  'Total Purchase Value','Normalized Totals'])

# #format 'Average Purchase Price','Total Purchase Value','Normalized Totals'
# Purchase_Analysis_Age['Average Purchase Price']=Purchase_Analysis_Age['Average Purchase Price'].map('${:.2f}'.format)
# Purchase_Analysis_Age['Total Purchase Value']=Purchase_Analysis_Age['Total Purchase Value'].map('${:.2f}'.format)
# Purchase_Analysis_Age['Normalized Totals']=Purchase_Analysis_Age['Normalized Totals'].map('${:.2f}'.format)


# Purchase_Analysis_Age

In [ ]:
file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
file_df["population"] = file_df["population"].map("{:,}".format)
file_df["other"] = file_df["other"].map("{:.2f}".format)
file_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [114]:
grouped_sn=purchase_data.groupby('SN')
print(grouped_sn)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000212C3586EE0>

In [120]:
purchase_count=grouped_sn['Purchase ID'].count()
purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [123]:
average_purchase_price=grouped_sn['Price'].mean()
average_purchase_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [125]:
total_purchase_value=grouped_sn['Price'].sum()
total_purchase_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [129]:
extract_columns=purchase_data[['Item ID', 'Item Name', 'Price']]
extract_columns.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [132]:
grouped_id_name = extract_columns.groupby(["Item ID", "Item Name"])
print(grouped_id_name)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000212C35AA1C0>

In [134]:
purchase_count=grouped_id_name["Item Name"].count()
purchase_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item Name, Length: 179, dtype: int64

In [139]:
total_purchase_value=grouped_id_name["Price"].sum()
total_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [141]:
item_price=total_purchase_value/purchase_count
item_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80