### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Want to find the unique number of players so we do not account for duplicates. 
# You can then run the length of unique players to find the total amount of players
total_players=len(purchase_data['SN'].unique())

# Create a Data Frame with column: Total Players and results from total_players
total_df=pd.DataFrame({"Total Players": [total_players]})
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Want to find the unique number of items so we do not account for duplicates. 
# You can then run the length of unique items to find the total amount of items bought.
unique_items=len(purchase_data['Item ID'].unique())

# Calculate the average price
average_price=purchase_data['Price'].mean()

# Calculate the total amount of purchases
number_purchases=len(purchase_data)

# Calculate the total amount of revenue
total_revenue = (purchase_data["Price"]).sum()

# Create the Data Frame
total_purchasing_df=pd.DataFrame({
    "Number of Unique Items": [unique_items], 
    "Average Price": [average_price], 
    "Number of Purchases":[number_purchases], 
    "Total Revenue":[total_revenue]})

# Format the output to only have 2 decimals and contain the $ sign
total_purchasing_df['Average Price']=total_purchasing_df['Average Price'].map("${:.2f}".format)
total_purchasing_df['Total Revenue']=total_purchasing_df['Total Revenue'].map("${:,.2f}".format)
total_purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Group by Gender and find the unique # of genders so there are no duplicates
gender_group = purchase_data.groupby("Gender")
unique_gender_count = gender_group.nunique()["SN"]

# Calculate the percent of players in each gender
gender_percent=(unique_gender_count/total_players)*100

# Create and format the Data Frame
final_gender_df=pd.DataFrame({"Total Count": unique_gender_count, "Percentage of Players":gender_percent})
final_gender_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Use the GroupBy previously used to get the calculations needed
purchase_count=gender_group["SN"].count()
average_purchase_price=gender_group['Price'].mean()
total_purchase_value=gender_group['Price'].sum()
average_total_purchase_per_person=(total_purchase_value/unique_gender_count)

#Create and format the Data Frame accordingly 
purchasing_analysis_gender_df=pd.DataFrame({
    "Purchase Count": purchase_count, 
    "Average Purchase Price":average_purchase_price,
    "Total Purchase Value": total_purchase_value, 
    "Avg Total Purchase per Person":average_total_purchase_per_person})

purchasing_analysis_gender_df.style.format({"Average Purchase Price":"${:.2f}",
                                            "Total Purchase Value":"${:,.2f}", 
                                            "Avg Total Purchase per Person":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Bin and cut the data 
age_groups=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
bins=[0,9.90,14.9,19.9,24.9,29.9,34.9,39.9,100]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_groups)

#Group the data by age group to find the required information
grouped_age=purchase_data.groupby('Age Group')

# Make calculations
unique_age_count = grouped_age.nunique()["SN"]
percent_players=(unique_age_count/total_players)*100

#Create and format the Data Frame
age_demographic_df=pd.DataFrame({
    "Total Count": unique_age_count, 
    "Percentage of Players":percent_players})
age_demographic_df.index.name = None
age_demographic_df.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# You can use the Group By used above to find the calculations
purchase_count=grouped_age['Item ID'].count()
average_purchase_price=grouped_age['Price'].mean()
total_purchase_value=grouped_age['Price'].sum()
average_total_purchase_per_person=total_purchase_value/unique_age_count

# Create and format the Data Frame
purchasing_analysis_age_df=pd.DataFrame({"Purchase Count": purchase_count, 
    "Average Purchase Price":average_purchase_price,
    "Total Purchase Value": total_purchase_value, 
    "Avg Total Purchase per Person":average_total_purchase_per_person,})

purchasing_analysis_age_df.index.name = "Age Ranges"

purchasing_analysis_age_df.style.format({"Average Purchase Price":"${:.2f}",
                                            "Total Purchase Value":"${:,.2f}", 
                                            "Avg Total Purchase per Person":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Create Group By to find the data by user
grouped_sn=purchase_data.groupby('SN')

# Calculate
purchase_count=grouped_sn['Purchase ID'].count()
average_purchase_price=grouped_sn['Price'].mean()
total_purchase_value=grouped_sn['Price'].sum()

#Create and format Data Frame
top_spenders_df=pd.DataFrame({
    "Purchase Count": purchase_count, 
    "Average Purchase Price":average_purchase_price,
    "Total Purchase Value": total_purchase_value})

top_5_spenders=top_spenders_df.sort_values(["Total Purchase Value"], ascending = False).head()

top_5_spenders.style.format({"Average Purchase Price":"${:.2f}",
                                           "Total Purchase Value":"${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Retrieve the columns specified
extract_columns=purchase_data[['Item ID', 'Item Name', 'Price']]

# Group by the columns specified
grouped_id_name = extract_columns.groupby(["Item ID", "Item Name"])

# Calculate respective to the grouped columns
purchase_count=grouped_id_name["Item Name"].count()
total_purchase_value=grouped_id_name["Price"].sum()
item_price=total_purchase_value/purchase_count

# Create and format Data Frame
most_popular_df=pd.DataFrame({
    "Purchase Count": purchase_count, 
    "Item Price":item_price,
    "Total Purchase Value": total_purchase_value})

top_5_popular=most_popular_df.sort_values(["Purchase Count"], ascending = False).head()

top_5_popular.style.format({"Item Price":"${:.2f}",
                                           "Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#Use the data above to obtain total purchase descending order
top_5_popular=most_popular_df.sort_values(["Total Purchase Value"], ascending = False).head()
top_5_popular.style.format({"Item Price":"${:.2f}",
                                           "Total Purchase Value":"${:.2f}"})